%container {
    max-width: $container-size-x-lg;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1024px) {
        width: 90%;
    }
}
.button-basic {
    background: none;
    border: none;
    padding: 20px 45px;
    text-align: center;
    cursor: pointer;
}
