$logo-color: #b6bbbd;
$nav-color: #5b99c7;
$hover-color: #df535d;
$box-color: #dce7ec;
$icon-color: #546166;
$icon-hover: #707c81;
$header-color: #546166;
$secondBall-color: #aec5cd;
$services-section-btn-hover: #80939a;
