$logo-color: #bebebe;
$nav-color: #5b99c7;
$hover-color: #df535d;
$box-color: #dce7ec;
$icon-color: #546166;
$icon-hover: #707c81;


$heading-color-01: #546166;
$heading-color-02: #000;
$heading-color-03: #181818;
$paragraph-color: #000000;

$ball-2-color: #aec5cd;
$services-section-btn-hover: #80939a;

$section-3-bg: #c4d6dc;
$section-3-btn-hover: #293033;
$ball-3-color: #dce7ec;

$tours-section-bg: #f2f2f2;
$tours-section-btn: #aec5cd;
$tours-section-btn-hover: #80939a;

$apply-btn: #aec5cd;
$apply-btn-hover: #c4d6dc;

$placeholder-color: #aeaeae;
$footer-bg: #333333;
$footer-line-color: #6e6e6e;

$black-color: rgb (0, 0, 0);

