$container-size-x-lg: 1400px;
$container-size-lg: 992px;
$container-size-medium: 768px;
$container-size-small: 600px;


$link-size: 20px;
$paragraph-size: 16px;
$paragraph-responsive-size: 14px;
$paragraph-size-02: 12px;
$btn-text-size: 16px;

$heading-1-size: 60px;
$heading-2-size: 48px;
$heading-3-size: 40px;
$heading-4-size: 36px;
$heding-5-size: 20px;
$heading-6-size: 16px;